.body{
    margin-left: 20em;
    margin-right: 20em;
    border: 2px solid;columns: blue;
    padding: 50px;
}
.name{
    text-align: center;
    margin-top: -4em;

}
.h1a{
    font-size: 40px;
    margin-top:2rem;
}
.p1{
font-style: italic;
color: blue
}
.hr1{
    color: brown;
    
}
.row-abt1{
    display: flex;
    /* padding: 4px; */
    padding-right: 4pxqqq;
}
.Abt-2{
    margin-top: 3em;font-style: italic;
    font-family: monocursive;
    font-size: 80px;
    font-weight: 600;
    margin-top: 1em;
    padding-right: 5%;
    text-align: center;
}
nav{
    border:black 2px solid;
}
h1{
    font-style: italic;
    font-family: monocursive;
    font-size: 80px;
    font-weight: 600;
    margin-top: 2em;
    padding-left: 5%;
}
h4{
    font-style: italic;
    font-family: monocursive;
    padding-left: 5%;
}
h6{
    font-style: italic;
    font-family: monocursive;
    padding-left: 5%;
}
h3{
    font-style: italic;
    font-family: monocursive;
    padding-left: 5%;
}
.Abt-3{
    font-family: cursive, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 2em;
    padding-right: 5%;
}
.row-abt1{
    background-color: rgba(224, 223, 223, 0.897);
}
.row-2{
    margin-top: 3em;
    align-items: center;
    height: 30%;
}
.sec1{
    align-items: center;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

footer{
    margin-top: 5em;
    text-align: right;
}
.pro-2{
    text-align: center;
    margin-top: -0.0em;
    margin-bottom: 1em;
}
.pro-3{
    margin-left: 1%;
}
.pro-4{
    align-items: center;
    display: flex;
    margin-top: 3em;
}
.box{
    padding: 10%;
    align-items: center;
    background-color: rgb(245, 238, 237);
    height: 40%;
    width: 80%;
    margin-left: 3%;
    margin-top: 2em;
}
form{
    margin-left: 7em;
}
button{
    margin-left: 2.5em;
}
.txt1{
    text-align: center;
    margin-top: -1em;
}
.txt2{
    text-align: center;
}
.txt3{
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}
.un{
   width: 700%;
   margin-top: 2em;
   margin-bottom: 1em;
   margin-left: 2%;
}
